body {
}
* {
    box-sizing: border-box;
    
}
.container {
    max-width: 1254px;
    padding: 0 15px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}
h1 {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
}
