.header {
    padding: 25px 50px;
    position: relative;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
		&__logo {
            width: 15.08%;
            margin-right: 30px;
            img {
                width: 100%;
            }
		}

		&__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 76.40%;
		}

		&__nav {
            width: 69.11%;
		}

		&__list {
            display: flex;
            justify-content: space-between;
		}

		&__link {
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #FFFFFF;
            text-decoration: none;
            position: relative;
            transition: 0.3s all;
            &:hover {
                color: $btn-color;
            }
		}

		&__block {
            width: 171px;
            height: 50px;
            margin-left: 30px;
		}

		&__burger {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            span {
                display: none;
                width: 100%;
                height: 4px;
                background-color: #fff;
                &::after, &::before {
                    content: '';
                    height: 4px;
                    width: 100%;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    transition: 0.3s all;
                }
                &::before {
                    top: 7px;
                }
                &::after {
                    bottom: 7px;
                }
            }
		}
        &__burger.active {
            span {
                height: 0;
                &::before {
                    transform: rotate(-45deg);
                    top: 18px;
                }
                &::after {
                    transform: rotate(45deg);
                    bottom: 18px;
                }
            }
        }
}

@media (max-width: 960px) {
    .header {
        padding: 25px 30px;
    }
    .menu__logo {
        width: 172px;
        height: 48.35px;
    }
    .menu__body {
        position: fixed;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        top: 0;
        right: -100%;
        background: $bg-color;
        z-index: 5;
        padding: 50px 0 50px 0;
    }
    .menu__body.active {
        right: 0;
    }
    .menu__nav {
        height: 60%; 
        width: 100%;
    }
    .menu__list {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu__block {  
    }
    .menu__burger {
        z-index: 20;
        span {
            display: block;
        }

    }
}
@media (max-width: 800px) {
    .header {
        padding: 25px 10px;
    }
    .header-slide__wrapper {
        margin-left: 0;
        padding-left: 5%;
        padding-right: 5%;
    }
    .header-slider {
        padding: 0;
    }
}
@media (max-width: 630px) {
    .menu__body {
        width: 100%;
    }

    .menu__nav {
        height: 72%;
    }

}
